* {
    box-sizing: border-box;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
