@media (min-width: 576px) {
    header {
        /* Showcase */
        .showcase {
            margin: 1em 0 0 0;
            &-btns {
                flex-direction: row;
                justify-content: flex-start;
                margin: 1em 0 2em 0;
            }
            &-sign-up {
                margin: 0;
            }
            .learn-more {
                margin: 0 0 0 1.2em;
                display: flex;
                align-items: center;
                justify-content: center;
                &--btn {
                    color: #1f7898;
                    font-weight: bold;
                }
            }
            &-join {
                margin: 1em 0;
            }
        }
    }
}

@media (min-width: 768px) {
    /* Header */
    header {
        .showcase {
            &-row {
                flex-direction: row;
                align-items: flex-start;
            }
            &-left {
                max-width: 50%;
            }
            &-right {
                max-width: 45%;
            }
            &-avatars {
                margin: 1.5em 0;
            }
        }
    }

    /* Features */
    .features {
        &-title {
            font-size: 2.1em;
            font-weight: 600;
            margin: 2em 0;
            max-width: 50%;
        }
        &-cards {
            grid-template-columns: 1fr 1fr;
            gap: 0 2em;
            margin: 0 0 3em 0;
        }
    }

    /* Customers */
    .customers {
        &-card {
            margin: 0 0 3em 0;
            &-container {
                display: grid;
                grid-auto-flow: column;
                gap: 1em;
            }
        }
    }
}

@media (min-width: 992px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }

    /* Header */
    header {
        .navbar {
            &-list {
                display: flex;
                justify-content: space-between;
                width: 47%;
                align-items: center;
            }

            &-brand {
                margin-left: 0;
                font-style: italic;
                font-weight: 600;
            }

            &-toggle {
                display: none;
            }
        }
    }
}

@media (min-width: 1200px) {
    header {
        .showcase {
            &-title {
                font-size: 3em;
            }
            &-info,
            &-join {
                font-size: 1.1em;
            }
        }
    }
}
