header {
    background-color: #fbf8f3;
    /* Navbar */
    .navbar {
        .nav-row {
            padding: 2em 0;
        }

        &-list {
            display: none;
        }

        &-link {
            color: #595959;
            font-size: 1.1em;
        }

        &-brand {
            cursor: pointer;
            color: #3180f5;
            margin-left: 1em;
            font-size: 1.1em;
            font-style: italic;
            font-weight: 600;
        }

        &-toggle {
            margin: 0 1em 0 0;
            cursor: pointer;
            
            &:active {
                transform: rotate(90deg);
            }
        }
    }

    /* Showcase */
    .showcase {
        margin: 1em 0 0 0;
        &-row {
            display: flex;
            flex-direction: column-reverse;
        }
        &-left {
        }
        &-title {
            font-size: 2em;
            font-weight: bold;
            margin: 1em 0 0.5em 0;
        }
        &-info {
            margin: 1em 0;
            line-height: 1.6em;
            color: #737373;
        }
        .learn-more {
            margin: 0.4em 0 0.5em 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &--btn {
                color: #1f7898;
                font-weight: bold;
            }
        }
        &-sign-up {
            display: block;
        }
    }
}

// /* Toggle */

// header {
//     .navbar {
//         .nav-row {
//             padding: 2em 0;
//             justify-content: center;
//         }

//         &-list {
//            display: block;
//            margin-left: auto;
//         }

//         &-item {
//             margin: 1em 0;
//         }

//         &-brand {
//             display: none;
//         }
//         &-toggle {
//             align-self: flex-start;
            
//             margin-left: auto;
//         }
//     }
// }

@media (min-width: 576) {
    header {
        /* Showcase */
        .showcase {
            margin: 1em 0 0 0;
            &-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            &-left {
            }
            &-right {
                max-width: 45%;
            }
        }
    }
}

@media (min-width: 992px) {
    .container {
        width: 1200px;
        margin: 0 auto;
    }
    header {
        .navbar {
            &-list {
                display: flex;
                justify-content: space-between;
                width: 50%;
                align-items: center;
            }

            &-brand {
                margin-left: 0;
                font-style: italic;
                font-weight: 600;
            }

            &-toggle {
                display: none;
            }
        }
    }
}
