@import "../abstracts/variables"; 

header {
    background-color: #fbf8f3;
    /* Navbar */
    .navbar {
        .nav-row {
            padding: 2em 0;
        }

        &-list {
            display: none;
        }

        &-link {
            color: $dark-gray;
            font-size: 1.1em;
        }

        &-brand {
            cursor: pointer;
            color: #3180f5;
            margin-left: 1em;
            font-size: 1.1em;
            font-style: italic;
            font-weight: 600;
        }

        &-toggle {
            margin: 0 1em 0 0;
            cursor: pointer;

            &:active {
                transform: rotate(90deg);
            }
        }
    }

    /* Showcase */
    .showcase {
        margin: 1em 0 0 0;
        padding: 0 0 2em 0;
        &-row {
            display: flex;
            flex-direction: column-reverse;
        }
        &-title {
            font-size: 2em;
            font-weight: bold;
            margin: 1em 0 0.5em 0;
        }
        &-info {
            margin: 1em 0;
            line-height: 1.6em;
            color: $light-gray;
        }
        &-btns {
            flex-direction: column;
            align-items: stretch;
        }
        &-avatars {
            $base-size: 0em;
            @for $i from 9 through 1 {
                &--image-#{$i} {
                    position: relative;
                    left: $base-size;
                    $base-size: $base-size - 2.2em;
                }
            }
        }

        .learn-more {
            margin: 0.4em 0 0.5em 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &--btn {
                color: #1f7898;
                font-weight: bold;
            }
        }
        &-join {
            max-width: 30em;
            color: $light-gray;
            &--span {
                color: #1f7898;
                font-weight: bold;
            }
        }
    }
}



// /* Toggle */

// header {
//     .navbar {
//         .nav-row {
//             padding: 2em 0;
//             justify-content: center;
//         }

//         &-list {
//            display: block;
//            margin-left: auto;
//         }

//         &-item {
//             margin: 1em 0;
//         }

//         &-brand {
//             display: none;
//         }
//         &-toggle {
//             align-self: flex-start;

//             margin-left: auto;
//         }
//     }
// }
