/* Variables */
@import "../abstracts/variables";

/* Price Section */
.price {
    &-intro {
        max-width: 460px;
        margin: 0 auto;
    }
    &-sign-up {
        display: block;
        width: 95%;
        margin: 1em auto;
    }
    &-container {
    }
    &-title {
        text-align: center;
        font-size: 2em;
        font-weight: 600;
        padding: 1em 0 0 0;
    }
    &-subtitle {
        color: $light-gray;
    }
    &-title,
    &-subtitle {
        margin: 0.7em 0;
        text-align: center;
    }

    &-card {
        background-color:#fbf8f3;
        border: 1px solid #ffad23;
        border-radius: 5px;
        padding: 0.8em;
        max-width: 420px;
        margin: 3em auto;
        &__subtitle {
            width: 95%;
            margin: 1em auto;
            color: $light-gray;
            font-size: 1.1em;
        }
        &__title {
            width: 95%;
            margin: 0 auto;
            font-weight: 600;
            font-size: 2em;
            &-span {
                font-size: 0.6em;
                color: $light-gray;
                font-weight: 400;
            }
        }
        /* Offers */
        &__offers {
            @media (max-width: 500px) {
                &--title {
                    margin-left: 0.7em;
                }
            }
            @media (min-width: 450px) {
                &--title {
                    margin-left: -1em;
                }
            }
        }
        &__offer {
            margin: 1em 0;
            display: grid;
            grid-auto-flow: column;
        }
        .offers-cards {
            width: 95%;
            margin: 1em auto;
            border-top: 1px solid $lightest-gray;
            border-bottom: 1px solid $lightest-gray;
            color: $light-gray;
            padding: 0.7em 0;
        }
    }
}
